.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #7f58ec;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
   display: flex;
   flex-direction: row;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0e18cb !important;
  background-color: rgba(210, 137, 12, 0.1);
  border-radius: 4px;
}

.nav-link.active {
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
}